# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# PyCharm / VSCode
.idea/
.vscode/

# Logs
*.log

# dotenv
.env

# OS garbage
.DS_Store
Thumbs.db
